<!DOCTYPE html>
<html>
<head>
	{include file='common/head'} <!-- 包含head的内容 -->
	<title>#兼职名称-兼了个职-大学生兼职平台</title>
</head>
<body>
	{include file='common/nav'} <!-- 包含导航 -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-body">
						<h3>{$status.title} <h5 class="text-right publisher date" id="jobId" data="{$status.timestamp}">{$status.timestamp}</h5></h3><hr>
						<div class="well">
							详情：<hr>
							{$status.details}
						</div>
						<h4>薪资：</h4><h3 class="text-danger">{$status.salary}</h3>
						<hr>
						<button class="btn btn-default btn-lg" id="applyBtn">申请此兼职</button><br><br>
						<h4>发布者：</h4>
						<br>
						<div class="well well-white clearfix">
							<div class="pull-right text-right"><img src="public/images/merchant.jpg" alt="商家"></div>
							<div class="pull-left">
								<h4><strong>名称：</strong><a href="" data-toggle="tooltip" data-placement="right" title="点击跳转到商家主页" id="merchant-name">{$statusUser.username}</a></h4><br>
								<h4><strong>积分:</strong> <span class="label label-warning" data-toggle="tooltip" data-placement="right" title="此积分代表商家的信用等级">{$statusUser.credit}</span></h4><br>
								<h4><strong>联系方式：</strong>{$statusUser.phone}</h4><br>
								<h4><strong>分类：</strong> <a href=""  data-toggle="tooltip" data-placement="right" title="点击查看此分类的所有兼职">{$status.cate}</a></h4>
							</div>
						</div>
						<br>
						<h4>申请人数：</h4><br>
					</div>
				</div>
			</div>
		</div>
	</div>
	{include file='common/footer'} 	<!-- 包含页脚和返回顶部按钮 -->
</body>
{include file='common/popModal'} <!-- 包含弹窗 -->
{include file='common/postNew'}<!-- 包含发布 -->
<script src=<?php echo '"__PUBLIC__/index/public/js/common.js?v'.rand().'"'; ?>></script>
<script src="public\js\common.js"></script>
<script>
	$("#applyBtn").click(function(){
		if( $("#signInUpPanel").css("display") == "block" ){
			alert("请先登录！");
		}else{
			if( $("#userToggle").css("display") == "block" ){
				var jobId = $("#jobId").attr("data");
				var merchant = $("#merchant-name").text();
				$.ajax({
					url:'/p/webCompetition/public/index.php/index/Apply/apply',
					type:'POST',
					async:true,
					data:{
						id:jobId,
						merchant:merchant
					},
					dataType:'json',
					success:function(data){
						alert("已成功递交申请！");
					},
					error:function(){
						alert("抱歉，申请失败。");
					}
				});
			}else{
				alert("您不能申请自己发布的兼职！");
			}
		}
	});
</script>
</html>
