<!DOCTYPE html>
<html>
<head>
	{include file='common/head'} <!-- 包含head的内容 -->
	<title>#兼职名称-兼了个职-大学生兼职平台</title>
</head>
<body>
	{include file='common/nav'} <!-- 包含导航 -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-body">
						<h3>{$status.title} <h5 class="text-right publisher date">{$status.timestamp}</h5></h3><hr>
						<div class="well">
							简介：<hr>
							{$status.details}
						</div>
						<h4>薪资：</h4><h3 class="text-danger">{$status.salary}</h3>
						<hr>
						<h4>发布者：</h4><br>
						<div class="well well-white clearfix">
							<div class="pull-right text-right"><img src="public/images/merchant.jpg" alt="商家"></div>
							<div class="pull-left">
								<h4><strong>名称：</strong><a href="" data-toggle="tooltip" data-placement="right" title="点击跳转到商家主页">{$statusUser.username}</a></h4><br>
								<h4><strong>积分:</strong> <span class="label label-warning" data-toggle="tooltip" data-placement="right" title="此积分代表商家的信用等级">{$statusUser.credit}</span></h4><br>
								<h4><strong>联系方式：</strong>{$statusUser.phone}</h4><br>
								<h4><strong>分类：</strong> <a href=""  data-toggle="tooltip" data-placement="right" title="点击查看此分类的所有兼职">某某分类</a></h4>
							</div>
						</div><br>
						<h4>申请者：</h4><br>
						<div class="list-group">
							<a href="#" class="list-group-item clearfix">
								<div class="pull-left">
								<h4 class="list-group-item-heading">UMP9小丸子：根牌港C大司马</h4><br>
								<p class="list-group-item-text">根牌港C芜湖大司马的个人简介</p>
								</div>
								<div class="pull-right text-right"><img src="public/images/userDefault" alt="用户"></div>
							</a>
							<a href="#" class="list-group-item clearfix">
								<div class="pull-left">
								<h4 class="list-group-item-heading">UMP9小丸子：根牌港C大司马</h4><br>
								<p class="list-group-item-text">根牌港C芜湖大司马的个人简介</p>
								</div>
								<div class="pull-right text-right"><img src="public/images/userDefault" alt="用户"></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{include file='common/footer'} 	<!-- 包含页脚和返回顶部按钮 -->
</body>
{include file='common/popModal'} <!-- 包含弹窗 -->
<script src=<?php echo '"__PUBLIC__/index/public/js/common.js?v'.rand().'"'; ?>></script>
<script src="public\js\common.js"></script>
<script>

</script>
</html>
