<!DOCTYPE html>
<html>
<head>
	<title>兼了个职-大学生兼职平台</title>
	<meta charset="UTF-8" />
</head>
<body>
	{include file="common/head"}<!-- 包含head的内容 -->
	{include file="common/nav"}<!-- 包含导航 -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron" id="banner">
					<img src="__PUBLIC__/index/images/banner6.jpg" alt="" width="100%">
					<img style="display: none;" src="__PUBLIC__/index/images/banner8.jpg" alt="" width="100%">
					<img style="display: none;" src="__PUBLIC__/index/images/banner1.jpg" alt="" width="100%">
					<div></div>
				</div>
			</div>
			<style>
			#banner{
				padding: 0;
				background: #f5f5f5;
			}
			#banner img{
				position: relative;
				top: 0;
				border-radius: 5px;
			}
		</style>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="latestJob panel panel-default">
				<div class="panel-heading panelHead">
					<h3 class="panel-title">最新兼职</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-6">
						{volist name='information' id='vo'}
						<a class="jobInfoLink" href="http://localhost/p/webCompetition/public/index.php/index/status/index.html">
							<li class="jobInfo">
								<span class="label label-danger"> 急</span> <span class="jobTitle">{$vo.title}</span>
							</li>
							<li class="jobInfo merchant text-right">
								【{$vo.username}】
							</li>
							<li class="jobInfo">
								<span class="salary label label-warning">{$vo.salary}</span>
								<span class="publisher pull-right">{$vo.time}</span>
							</li>
							<hr>
						</a>
						{/volist}
					</div>
					<div class="col-md-6">
						{volist name='information' id='vo'}
						<a class="jobInfoLink" href="http://localhost/p/webCompetition/public/index.php/index/status/index.html">
							<li class="jobInfo">
								<span class="label label-danger"> 急</span> <span class="jobTitle">{$vo.title}</span>
							</li>
							<li class="jobInfo merchant text-right">
								【{$vo.username}】
							</li>
							<li class="jobInfo">
								<span class="salary label label-warning">{$vo.salary}</span>
								<span class="publisher pull-right">{$vo.time}</span>
							</li>
							<hr>
						</a>
						{/volist}
					</div>
				</div>
			</div>
		</div>
	</div>
	<style>
	.jobTitle{
		font-size: 14px;
		font-weight: bold;
	}
	.salary{
		font-size: 14px;
	}
	.jobInfo{
		padding: 0;
		margin-top: 10px;
	}
	.merchant{
		color: #222;
		font-weight: bold;
	}
	.jobInfoLink{
		display: block;
		/*background: red;*/
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.jobInfoLink:hover{
		text-decoration: none;
		background: #eee;

	}
</style>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading panelHead">
				<h3 class="panel-title">精品兼职</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					{volist name="gb" id='gb'}
					<div class="col-md-4 merchant">
						<div class="thumbnail">
							<img src="__PHOTO__/{$gb.photo}" alt="商家">
							<div class="caption text-center">
								<h3>{$gb.buser} <span class="label label-warning" data-toggle="tooltip" data-placement="right" title="此积分代表商家的信用等级">{$gb.credit}</span></h3>
								<p>{$gb.introduce}</p>
								<p><a href="#" class="btn btn-default center-block" role="button">查看详情</a></p>
							</div>
						</div>
					</div>
					{/volist}
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{include file="common/footer"}	<!-- 包含页脚和返回顶部按钮 -->
</body>
<script>
	var imgArr = $("#banner").children("img");
	var interval = setInterval(banner,3000);
	var outerIndex = 2;
	function banner(){
		for( var i = 0 ; i < imgArr.length ; i++ ){
			if( i!=outerIndex+1 ){
				imgArr.eq(i).hide();
			}
			if( outerIndex == 2 ){
				imgArr.eq(0).show();
			}
		}

		if( outerIndex == -1 ){
			// alert(2)
			outerIndex = 2;
		}

		var former;
		if( outerIndex != 2 ){
			former = outerIndex+1;
		}else{
			former = 0;
		}

		imgArr.eq(outerIndex).css({"z-index":"100"});
		imgArr.eq(former).slideUp(300);
		imgArr.eq(outerIndex).slideDown(400);
		outerIndex--;
	}

	$("#banner").hover(function(){
		clearInterval(interval);
	},function(){
		interval = setInterval(banner,3000);
	});

	$("#banner").height($("#banner").children("img").eq(0).height());
</script>
{include file='common/popModal'}<!-- 包含弹窗 -->
<script src=<?php echo '"__PUBLIC__/index/public/js/common.js?v'.rand().'"'; ?>></script>
<!-- src前边加上__PUBLIC__/index/ -->
</html>
