<nav class="navbar navbar-default navbar-fixed-top" id="nav">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{:url('index/index')}"><img src="__PUBLIC__/index/public/images/logo.png"  height="100%"></a>
				<!-- src前边加上__PUBLIC__/index/ -->
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="http://localhost/p/webCompetition/public/index.php/index/index/index.html">首页<span class="sr-only">(current)</span></a></li>
					<li><a href="http://localhost/p/webCompetition/public/index.php/index/hall/index.html">兼职大厅</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" id="signInUpPanel">
					<li><a href="#" id="signUp" data-toggle="modal" data-target="#signUpModal">注册</a></li>
					<li><a href="#" id="signIn" data-toggle="modal" data-target="#signInModal">登录</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" id="userToggle" style="display:none;">
					<li class="dropdown">
						<a href="#" class="user dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="badge">#这里你来填充消息数</span></a>
						<ul class="dropdown-menu">
							<li><a href="http://localhost/p/webCompetition/public/index.php/index/user/index.html" class="username-stage">用户名</a></li>
							<li><a href="#" id="messageBtn"  data-toggle="modal" data-target="#newMessageModal">消息  <span class="badge">#这里你来填充消息数</span></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">我的资料</a></li>
							<li><a href="#">我的兼职</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#" class="logOut">退出</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right" id="merchantToggle" style="display:none;">
					<li class="dropdown">
						<a href="#" class="user dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
				<ul class="dropdown-menu">
							<li><a href="http://localhost/p/webCompetition/public/index.php/index/user/index.html" class="username-stage">用户名</a></li>
							<li><a href="#" id="msg">消息</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#" id="postNew" data-toggle="modal" data-target="#postNewModal">发布兼职</a></li>
							<li><a href="#">我的资料</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#" class="logOut">退出</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</div><!-- /.container-fluid -->
</nav>