body{
	background: #f5f5f5;
	padding-top: 70px;
}
#nav{
	background: #00c0b9;
	border:none;

	.navbar-nav>li>a{
		color: #fff;

		&:hover{
			color: #eee;
		}
	}

	.navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover, .navbar-nav>.open>a, .navbar-nav>.open>a:focus, .navbar-nav>.open>a:hover{
		background: #00a0a2;
	}
	
	#userToggle{
		#user{
			margin: 5px 0 5px 0;
			width: 40px;
			height: 40px;
			background-image: url("../images/userDefault.png");
			background-position: center;
			border-radius: 40px;
		}
	}	
}

#banner{
	background: #fc9;
	padding: 0;
	height: 420px;
}

.panel-default>.panel-heading{
	background-color: #00c0b9;
	text-align: center;
	color: #fff;
}

.btn-default{
	background: #00c0b9;
	color: #fff;

	&:hover{
		background: #00a0a2;
		color: #eee;
	}
}

.latestJob{
	a{
		&:hover{
			text-decoration: none;
		}
	}
}

.jobInfo{
	margin: 10px;
}

footer{
	margin-top:50px;
	width: 100%;
	height:100px;
	background: #555;
	text-align: center;
	padding-top: 40px;

	span{
		color: #fff;
		font-size: 16px;
	}
}